* {
    padding: unset;
    margin: unset;
}

h2 {
    padding-left: 1rem;
    color: #73CD0F;
}

#logoComp {
    color: #F29C0E;
}

.col-2 {
    padding: unset;
    border: 1px solid #CED4D9;
    border-radius: .5rem;
    text-align: center;
    min-width: 174px;
}
.col-2 > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.col-2 > button {
    width: 100%;
}